# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.metadata/

.qsys_edit/

arcLab1.sopcinfo

arcLab1/

c5_pin_model_dump.txt

db/

incremental_db/compiled_partitions/

incremental_db/README

RemoteSystemsTempFiles/

Software/progLab1/.cproject

Software/progLab1/.project

Software/progLab1/.settings/

Software/progLab1/create-this-app

Software/progLab1/Makefile

Software/progLab1/progLab1.objdump

de1_soc.qsf

Labo1.qpf

Labo1.qsf

Labo1.qsf.bak

output_files/

Software/progLab1/readme.txt

Software/progLab1_bsp/.cproject

Software/progLab1_bsp/.project

Software/progLab1_bsp/.settings/

Software/progLab1_bsp/

*.bak

Labo1.qws
